In [2]:
from geosdm.dataprocessing import ecological_info
from geosdm.dataprocessing import hydinfo
from geosdm.dataprocessing import landcover
from geosdm.dataprocessing import sedi_info
from geosdm.dataprocessing import water_quality_info
from geosdm.dataprocessing import weather
from geosdm.dataprocessing import datacontroller

from glob import glob
import rasterio
import os
from rasterio.merge import merge
import rioxarray
import geopandas as gpd 
import matplotlib.pyplot as plt
import numpy as np
import pickle
import pandas as pd
from shapely.geometry import Point
from pyproj import Proj, transform
from rasterstats import zonal_stats

In [4]:
data_path_list = os.getcwd().split(os.path.sep) + ['data']
data_path = os.path.sep.join(data_path_list)
use_cleaned_dataset = True


controller = datacontroller.DataContorller(data_path, use_cleaned_dataset)
controller.get_merged_set('name')

c:\Users\rhqud\AppData\Local\Programs\Python\Python38\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
c:\Users\rhqud\repos\geo_sdm\geosdm\dataprocessing\weather.py:172: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  q1_df = atm_df_filter_1.groupby('지점명').quantile([0.25]).set_index(mean_df.index)
c:\Users\rhqud\repos\geo_sdm\geosdm\dataprocessing\weather.py:174: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  q3_df = atm_df_filter_1.groupby('지점명').quantile([0.75]).set_index(mean_df.index)
c:\Users\rhqud\repos\geo_sdm\geosdm\dataprocessing\water_quality_info.py:167: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  q1_df = filter_3_wq_data.groupby('PT_NO').quantile([0.25]).set_index(mean_df.index)
c:\Users\rhqud\repos\geo_sdm\geosdm\dataprocessing\water_quality_info.py:169: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  q3_df = filter_3_wq_data.groupby('PT_NO').quantile([0.75]).set_index(mean_df.index)
c:\Users\rhqud\repos\geo_sdm\geosdm\dataprocessing\hydinfo.py:413: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  q1_df = hyd_df_filter_1.groupby('관측소명').quantile([0.25]).set_index(mean_df.index)
c:\Users\rhqud\repos\geo_sdm\geosdm\dataprocessing\hydinfo.py:415: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  q3_df = hyd_df_filter_1.groupby('관측소명').quantile([0.75]).set_index(mean_df.index)
c:\Users\rhqud\AppData\Local\Programs\Python\Python38\lib\site-packages\rasterstats\io.py:335: NodataWarning: Setting nodata to -999; specify nodata explicitly
  warnings.warn(

In [5]:
controller._final_set.head()

,Stenopsyche bergeri,Atylotus horvathi,Saldidae sp.,Hemigrapsus penicillatus,Paraleptophlebia japonica,Tipula KUe,Hydropsyche valvata,Rhyothemis fuliginosa,Gyrinus (Gyrinus) japonicus,Tabanus kinoshitai,...,유량_q3,cate_1,cate_2,cate_3,cate_4,cate_5,cate_6,cate_7,elevation,slope
0,0,0,0,0,0,0,0,0,0,0,...,NaN,0.011286,0.088055,0.869445,0.014872,0.000000,0.005819,0.010522,249.737915,1.801372
1,0,0,0,0,0,0,0,0,0,1,...,NaN,0.027886,0.243368,0.670122,0.045677,0.000091,0.012856,0.000000,204.414444,2.868575
2,0,0,0,0,0,0,0,0,0,0,...,NaN,0.002336,0.067999,0.808461,0.013496,0.000000,0.012977,0.094731,144.473816,3.818739
3,1,0,0,0,0,0,0,0,0,0,...,NaN,0.067432,0.134592,0.780932,0.016026,0.000000,0.001019,0.000000,56.292217,0.704118
4,1,0,0,0,1,0,0,0,0,0,...,NaN,0.004547,0.022957,0.960948,0.003336,0.004290,0.003062,0.000861,110.962502,7.594870